.example-spacer {
    flex: 1 1 auto;
  }
.main-body{
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1248px;
  mat-form-field {
    width: 50%;
  }
}
.body-header {
  display: flex;
  justify-content: space-between;
}

.white-icon {
  color: rgb(165, 165, 6)
}

.white-icon svg {
  fill: white;
}